<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.bitcap.com">
            Bitcap
          </a>
        </li>
        <li>
          <a href="http://lancekidwell.com">
            Lance Kidwell
          </a>
        </li>
        <li>
          <a href="http://twitter.com/bitcap">
            Twitter
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script> Bitcap.com

    </div>
  </div>
</footer>
