<div class="sidebar" data-color="blue">
    <div class="logo">
        <a href="http://bitcap.com" class="simple-text logo-mini">
          🅱️
        </a>
        <a href="http://bitcap.com" class="simple-text logo-normal">
            BITCAP
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a href="/">
                    <i class="now-ui-icons design_app"></i>
                    <p>Home</p>
                </a>
            </li>
            <li>
                <a href="/learning">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Learning</p>
                </a>
            </li>
            <li>
                <a href="/resources">
                    <i class="now-ui-icons location_map-big"></i>
                    <p>Resources</p>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <i class="now-ui-icons text_caps-small"></i>
                    <p>Contact</p>
                </a>
            </li>
        </ul>
    </div>
</div>
