<div class="main-panel">
  <app-navbar></app-navbar>
  <app-header></app-header>
  <div class="content">
    <div class="row">
      <div class="col-lg-4">
        <app-trading-volume></app-trading-volume>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-markets></app-markets>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-daily-performance></app-daily-performance>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-news></app-news>
      </div>
      <div class="col-md-6">
        <app-exchanges></app-exchanges>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
